*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron";
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de);
    overflow-x: hidden;
}

h3 {
    color: #fff;
    font-size: 1rem;
}

/* Navbar */
#title {
    background-color: transparent;
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    z-index: 1000;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
}
.logo {
    filter: invert(100%);
    margin-top: 2%;
    margin-bottom: 2%;
    width: 20%;
}
.navbar-brand {
    padding: 8% 0 0 1%;
    text-align: center;
    font-family: "Orbitron";
    font-size: 2rem;
    font-weight: bolder; 
    color: white;  
}

.navbar-brand:hover {
    text-decoration: none;
    color: #fff;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    font-family: "Orbitron";
    font-size: 1.2rem;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
    text-decoration: none;
}

/*Parallax*/

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,rgb(20, 14,67), transparent);
    z-index: 1000;
}

section img {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit:cover;
    pointer-events: none;
}


section img#planet {
    mix-blend-mode: screen;
}

section img#foreground {
    z-index: 10;
}

#text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 3.5vw;
    font-family: "Orbitron";
    z-index: 9;
    font-weight: bolder;
    right: -400px;
}

#meteor {
    transform: translate(-1150px, -780px);
}

.btn {
    text-decoration: none;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 40px;
    background:#fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

/*About*/

#sec {
    position: relative;
    padding: 100px;
    background: rgb(20, 14,67);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}
.aboutme {
    width: 100%px;
    display: flex ;
    justify-content: start;
    padding: 30px;
    align-items: center;
    background: rgb(20, 14,100);
    border-radius: 20px;
}

.sec h2 {
    color: #fff;
    font-size: 3.5em;
    padding-bottom: 2%;

}

.sec p {
    color: #fff;
    font-size: 1.2em;
    font-family: "Ubuntu";
}

.pfp {
    display: flex;
    justify-content: center;
}


.profile {
    height: 650px ;
    max-width: 100%;
    border-radius: 60px;
    border-width: 10px;
    border-style:solid;
    border-color: #fff;
}

.profile2 {
    height: 350px;
    border-radius: 20px;
}

.amtext {
    width: 600px;
}
/* Parallax 2 */

#caves {
    position: relative;
    width: 100%;
    height: 85vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

#caves::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom,rgb(20, 14,67), transparent);
    z-index: 1000;
}

#caves img#cavemoon {
    mix-blend-mode: screen;
    transform: translateY(-450px);
    
}

#caves img#caveforeground {
    z-index: 10;
}

